<!DOCTYPE html>
<html lang="it">
	<head>
		<title>Chat online</title>
		<link rel="stylesheet" href="client/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="client/vue-chat-scroll.min.js"></script>
	</head>

	<body>
		<div id="staff">
			<div id="chatHome">
				<ul v-if="users.length != 0">
                    <li v-for="user in users" v-bind:key="user.id"><button @click="enterChat(user.id)">{{user.id}}</button></li>
                </ul>
			</div>
		
			<div id="chat-staff" class="controls-wrapper">
				<ul id="events" v-if="users.length != 0" v-chat-scroll>
					<li class="defaultMes">Staff member</li>
					<div v-if="users[currRoom].messages">
						<li v-for="message in users[currRoom].messages" v-bind:key="message.id"
						v-bind:class="{'myMes': message.type == 0,'otherMes': message.type == 1}">{{message.mess}}</li> 
					</div>
				</ul>
				<div class="controls">
					<div class="chat-wrapper">
						<form id="chat-form" @submit.prevent="onChatSubmitted">
							<input id="chatInput" autocomplete="off" type="text" v-model="newMess" title="chat" required/>
							<button type="submit">Send</button>
							<button type="button" @click="clearChat">Clear</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="./staff.js"></script>
	</body>
</html>