/* page corner flip: credits to Frankie Bushell on*/
@font-face {
    font-family: 'Ink';
    src: url('../../fonts/inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100%;
    background-color: #6b1a39;
    background-image: none !important;
    font-family: 'Ink',Georgia, 'Times New Roman', Times, serif;
}
  
.notebook{
    display: block;
    position: relative;
    height: 80vh;
    width: 400px;
    background-color: #FFFFCC;
    margin: 20px auto;
    box-shadow: 10px 13px 10px 4px rgba(0,0,0,0.2);
}

.notebook::before{
    position:absolute;
    content:'';
    top: 13px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 20px 0 0px 0px #CCC, 50px 0 0 #CCC, 80px 0 0 #CCC, 110px 0 0 #CCC, 140px 0 0 #CCC, 170px 0 0 #CCC, 200px 0 0 #CCC, 230px 0 0 #CCC,  260px 0 0 #CCC,  290px 0 0 #CCC, 320px 0 0 #CCC, 350px 0 0 #CCC;
}

#text{
    position: absolute;
    content: '';
    font-size: 1rem;
    text-align: left;
    top: 70px;
    background-color: #FFFFCC;
    width: 100% ;
    height: 80%;
    border: none;
    background-image: repeating-linear-gradient(#FFAB00 0px, #FFAB00 0px, transparent 1px, transparent 30px);
    background-repeat: repeat-y, no-repeat;
    outline: none;
    padding: 20px;
    font-weight: 700;
}

#info {
    margin-top: 1rem;
}
   
.note{
   overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#next {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 2em;
    border-style: none !important;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

#next:disabled {
    color: grey;
}



#toNext {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #222;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin-top: 12px;
    transition: all 250ms ease-out;
    padding: 1rem;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}

#toNext:hover {
    border-radius: 0 0 70% 0 / 0 0 70% 0;
}

   

#toNext:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
    bottom: 14px;
    width: 50%;
    height: 55%;
    right: 10px;
    max-width: 200px;
    max-height: 100px;
    box-shadow: 0px 8px 12px rgba(31, 31, 31, 0.4);
}

#toNext:hover {
    box-shadow: 10px 10px 12px rgba(31, 31, 31, 0.4);
}



/* css risposta multipla */
.container {
    cursor: pointer;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    margin-left: 1rem;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color:transparent;
    border: 2px solid black;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkmark:after {
    top: 5px;
    left: -4px;
    width: 30px;
    height: 5px;
    border-radius: 30%;
    background: black;
    transform: rotate(-45deg);
}

/** /


/* css risposta aperta */


#evaluableForm button {
    background-color: transparent;
    border-radius: 2px;
}

#evaluableForm * {
    margin-top: 2rem;
}


#answer {
    margin-top: 2rem;
    background-color:transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    color: black;
}
