@font-face {
    font-family: 'Ink';
    src: url('../../fonts/inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#paper {
    background-color: white ;
    opacity: 0.7;
    width: 80%;
    height: 40%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden; 
    margin: auto;
    font-family: 'Ink';
}

/* Hide scrollbar for Chrome, Safari and Opera */

#paper::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
#paper {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


#paper input {
    display: block;
    margin : 0 auto;
    width: 60%;
    background-color: transparent;
    border-style: none;
    font-size:bold;
    font: 1rem Walkway, Arial, sans-serif;
    text-align: center;
}

#paper p {
    font: 1rem Walkway, Arial, sans-serif;
    color: black;
}

#question {
    color: rgba(255, 255, 255, 0.815);
}