
.val-request{
    width:27%;
    height:20%;
    display:inline-block !important;
    padding: 1.5rem !important;
    margin: 1.5rem !important;
}

.info-para {
    color: white;
    margin: 2rem;
}

.card {
    background-color: #c990b1;
    color: #5d1039;
    min-width: 250px;
}

.cardBtn {
    background-color: #ffffffb0;
    padding: 0.5rem;
    border-radius: 5px;
    color: #8c5d78;
}

