html,body{
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 27, 27);
}


/** navbar **/
#navbar {
    background-color: #084448;
  }
  
  .navBtn {
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    color: white
  }

  .dropdown {
    display: inline;
  }
  .dropdown-toggle {
    color: white;
    background-color: transparent;
    outline: none;
    border: none
  }
  
  /**/
  