html,body{
    height: 100%;
    background-color: rgb(29, 27, 27);
}

body p, h5, li {
    color: rgb(238, 233, 225);
    font-family: Roboto;
}

h3 {
    color: #3a71a5;
    font-weight: normal;
    margin-top: 1rem
}

li {
    list-style:none;
}

input[type="text"], input[type="file"], textarea {
    display: inline-block;
    border-style: none;
    border-bottom: 1px solid #34516d;
    border-radius: 9px;
    box-sizing: border-box;
    background-color:  rgb(56, 57, 61);
    width: 100%;
    overflow: auto;
}

button, #buttonGraph, input[type="button"] {
    background-color: #c7ecf5d5;
    color: black;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

#submitBtn {
    padding: 0.7rem 0.7rem;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position: absolute;
}

#buttonGraph {
    width: 30%;
    float: right;
}

textarea {
    width: 100%
}
#editMenu{
    font-size:1.2rem;
    margin-left:2rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}



#activitiesForm{
    margin-left:2rem;
    border:solid 2px green;
    padding:1rem;
}

#widgetsForm{
    margin-left:2rem;
    border:solid 2px orange;
    padding:1rem;
}

form textarea{
    resize: none;
    margin-top:1rem;
}

#editStoryForm li > input,h5{
    margin-top:1rem;
}

#activitiesList{
    list-style: none;
}

#activitiesSaved{
    list-style:none;
}

#missionSaved{
    font-size: 1.1em;
    list-style: none;
}

#icon-group{
    margin-left: 3em;
}

#answers, #inputObject{
    list-style-type: none;
}

i.fas{
    cursor:grab;
}

#titleInfo {
    display: none;
}

#widgetInfo {
    display: none;
}

.error {
    position: relative;
    color:red;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}


/* GRAPH MODAL */


#graphModal .modal-dialog {
    background-color: rgba(0,0,0,0.8);
    
} 

#graphModal  svg {
    background-color: rgba(0,0,0,0.8);
    min-height: 600px;
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
 