html,body{
    height: 100%;
}

#editMenu{
    font-size:1.2rem;
    margin-left:2rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}

#editStoryForm{
    margin-top:2rem;
    margin-left:2rem;
    border:solid 2px blue;
    padding:1rem;
}

#activitiesForm{
    margin-left:2rem;
    border:solid 2px green;
    padding:1rem;
}

#widgetsForm{
    margin-left:2rem;
    border:solid 2px orange;
    padding:1rem;
}

form textarea{
    resize: none;
    margin-top:1rem;
}

#editStoryForm li > input,h5{
    margin-top:1rem;
}

#activitiesList{
    list-style: none;
}

#activitiesSaved{
    list-style:none;
}

#missionSaved{
    font-size: 1.1em;
    list-style: none;
}

#icon-group{
    margin-left: 3em;
}

#answers {
    list-style-type: none;
}

i.fas{
    cursor:grab;
}

#titleInfo {
    display: none;
}

#widgetInfo {
    display: none;
}

.error {
    position: relative;
    color:red;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}


/* GRAPH MODAL */


#graphModal .modal-dialog {
    background-color: rgba(0,0,0,0.8);
    
} 

#graphModal  svg {
    background-color: rgba(0,0,0,0.8);
    min-height: 600px;
}




  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
 