
html,body{
    height: 100%;
}

.info{
    font-size:1.2rem;
    margin:1rem;
}

#littleMenu{
    margin-left:2rem;
}

#stories, #publicStories{
    margin:2rem;
}

#stories-list, #public-list{
    font-size:1.5rem;
}

#public-list > button {
    background-color: lightcoral;
}

#stories-list > button:focus{
    background-color: rgb(131, 244, 248);
}

#icon-group{
    float: right;
    margin-right: 3em;
}

#icon-group i.fas{
    cursor:grab;
}

#qrcodeMenu{
    display: none;
    width: 50%;
    margin-left: 5rem;
    padding: 1rem;
    border: 1px solid lightskyblue;
}

#qrcode{
    cursor: pointer;
    width:24%;
    height: 24%;
}
