
html,body{
    height: 100%;
    background-color: rgb(29, 27, 27);
}

body p, span {
    color: white
}

.info{
    font-size:1.2rem;
}

#privateStories, #publicStories{
    margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#private-list, #public-list{
    font-size:1.5rem;
}

#public-list > button {
    background-color: #cc8f48;
    color: white
}

#private-list > button{
    background-color:  #2d8896;
    color: white
}

.icon-group{
    float: right;
    margin-right: 2em;
    color: black
}

.icon-group i.fas{
    cursor: grab;
}

#qrcodeMenu{
    display: none;
    width: 50%;
    margin-left: 5rem;
    padding: 1rem;
    border: 1px solid lightskyblue;
}

#qrcode{
    cursor: pointer;
    width:24%;
    height: 24%;
}


#newStory {
    background-color: #ece9e9b9;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position: absolute;
}


    
  