
/* nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/**/

html,body{
    height: 100%;
    background-color: rgb(29, 27, 27);
}

body p, h5, li{
    color: rgb(238, 233, 225);
    font-family: Gill Sans Nova Light, Tahoma, sans-serif;
}

#title {
    color: #bd6d12;
}

h3, h2 {
    color: #bd6d12;
    font-weight: bold;
    margin-top: 1rem;
    font-family: Gill Sans Nova Light, Tahoma, sans-serif;
}

#editStoryForm li {
    list-style: none;
}

#editStoryForm li:last-child {
    padding-bottom: 3rem;
}

#facilities li, #difficulties li {
    list-style-type: disc;
    margin-top: 0.5rem;
}

#inputObject li, #activitiesSaved li, #missionsList li {
    margin-top: 0;
    list-style:none;
}

#missionsList li, .addIcons {
    margin-top: 2rem;
}

#missionSaved > li {
    margin-top: 1rem;
}

.mainLabel {
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

label[for='accessibility'] {
    margin-left: 1rem;
}


input[type="text"], input[type="file"], textarea {
    display: inline-block;
    border-style: none;
    border: 0.5px solid #117a8b;
    border-bottom: 2.5px solid  #117a8b;
    border-radius: 9px;
    box-sizing: border-box;
    background-color: rgb(29, 27, 27);
    width: 90%;
    overflow: auto;
    margin-top:1rem;
    color: white;
    overflow: hidden;
}

input[type="text"]:disabled, textarea:disabled {
    border-color: #5f6264;
}

input[type='range'] {
    margin-top: 1rem;
}


button, #buttonGraph, input[type="button"],input[type="submit"] {
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

#saveActivity, #saveWidget {
    margin-top: 2rem;
    background-color: #bd6d12;
}


#submitBtn {
    padding: 0.5rem 0.7rem;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position: absolute;
}

#buttonGraph {
    background-color: #62d4e6ab;
    margin-left: 2rem;
}


#editMenu{
    font-size:1.2rem;
    margin-left:2rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}

#activitiesForm{
    margin-left:2rem;
    padding:1rem;
}

#widgetsForm{
    margin-left:2rem;
    padding:1rem;
}

#widgetsForm label {
    color: white;
}


form textarea{
    resize: none;
    margin-top:1rem;
    width: 90%
}



#activitiesList{
    list-style: none;
}

#activitiesSaved{
    list-style:none;
}

#missionSaved{
    font-size: 1.1em;
    list-style: none;
}

#icon-group{
    margin-left: 3em;
}

#answers, #inputObject{
    list-style-type: none;
}

i.fas{
    cursor:grab;
}


#titleInfo {
    display: none;
}

#widgetInfo {
    display: none;
}

.error {
    position: relative;
    border-color:red !important;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    color: red;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

#insertAnswer {
    margin-top: 1rem;
}

.selection {
    background-color: white;
    border-radius: 5px;
    margin-left: 1rem;
}

#nextActivityCorrect, #nextActivityIncorrect {
    background-color: #f5f5f5bf;
    border-radius: 5px;
}

.info {
    margin-top: 2rem;
}

#buttonWidget, #buttonDevice {
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.2rem;
}

#buttonDevice {
    padding: 0.4rem;
}

#insertFacility, #insertDifficulty {
    margin-top: 1rem;
}

@media (max-width: 700px) {
    #editMenu{
        margin-left: 0;
    }

    #editStoryForm ul {
        padding-left: 1rem;
    }
}
 

/* GRAPH MODAL */


#graphModal  {
    background-color: rgba(0,0,0,0.8);
    
} 

#graphModal  svg {
    background-color: rgb(2 24 40);
    min-height: 600px;
}

#graphModal .modal-content{
    overflow-x: scroll;
}

/* Track */
#graphModal .modal-content::-webkit-scrollbar-track {
  background: #212529; 
}
 
/* Handle */
#graphModal .modal-content::-webkit-scrollbar-thumb {
  background: rgb(24 63 92); 
  border-radius: 8px;
}

/* width */
#graphModal .modal-content::-webkit-scrollbar {
    width: 10px;
}

#questionDiv p {
    margin-top: 1rem;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
 /* modals */

 .modal-title {
     color: black
 }

 details {
    width: 80vw;
 }

 details  * {
     margin: 0
 }

 details p {
     margin-left: 1rem;
     font-size: 1.2rem;
 }

