
  .myMes{
    background-color: #8dd2d9  !important;
    border: 1px solid #595353;
    border-radius: 20px;
    width:40%;
    overflow-wrap: break-word;
    margin-right:2px;
    margin-left:60%;
    margin-bottom:2%;
    box-shadow: 2px 2px 5px grey;

  }
  .otherMes{
    background-color: #f1f6f8  !important;
    border: 1px solid #595353;
    border-radius: 20px;
    width:40%;
    margin-right:52%;
    margin-left:2px;
    margin-bottom:2%;
    box-shadow: 2px 2px 5px grey;
  }


  .defaultMes {
    font-size: smaller;
    color:grey;
    text-align:center !important;
  }

  #chat-user{
    position: absolute;
    top:0;
    right:0;
    z-index: 5;
    margin:0;
    height: 85% !important;
    min-width: 300px;
  }

  #chat-user > div {
    height: 100%;
  }
  .container {
    height: 95%;
  }

  .container-fluid {
    height: 85%;
  }

  #events {
    height: 60vh
  }

  #chat-user form{
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 700px) { 
    #chat-user {
      width: 100% ;
    }
  }